body {
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px
}

h1 {
    background-color: white;
    margin: 0px 0px 20px 0px;
    padding: 10px;
}

.cards {
    text-align: center;
}
.recipe-card {
    display: inline-block;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-decoration: none;
    margin: 10px;
}
.recipe-card img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    aspect-ratio: 4 / 3;
    display: block;
}
.container {
    text-align: center;
    padding: 1px;
    border-radius: 0px 0px 10px 10px;
    background-color: white;
}